.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.email {
    margin: 2% 21%;
    width: auto;
}

.name {
    margin: 2% 25%;
    width: auto;
}

.signout-btn {
    margin: 2% 32%;
    width: 35%;
}

::ng-deep .mat-menu-panel {
    padding: 0 10px!important;
    width: 600px!important;
}

.upload-image {
    overflow: visible;
    margin-left: 59px;
    margin-top: -45px;
    background-color: white;
    border-radius: 50%;
}

.circular--square {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 2;
}

.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
    font-weight: 300;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.87);
}

input {
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    outline: none;
    padding: 6px 16px;
    width: 100%;
    max-width: 375px;
    font-size: 16px;
    line-height: 34px;
}

.spacer {
    height: 200px;
}

.search-container {
    display: flex;
    margin: 0% auto;
    width: 60%;
    height: 80%;
}

.search-icon {
    height: 20px;
    width: 20px;
    margin-bottom: 100%;
}

.search-box {
    border: 0px;
    outline: none;
}