<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h3 class="example-app-name">Fundoo</h3>
        <button mat-button [matMenuTriggerFor]="menu" style="margin-left: '80%';"><span class="material-icons">
            account_circle
            </span></button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="signOut()">Sign Out</button>
        </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item [routerLink]="'/accounts'"> <svg width="24" height="24" viewBox="0 0 24 24"><path d="M9 21c0 .55.45 1 1 1h4c.55 0 1-.45 1-1v-1H9v1zm3-19C8.14 2 5 5.14 5 9c0 2.38 1.19 4.47 3 5.74V17c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-2.26c1.81-1.27 3-3.36 3-5.74 0-3.86-3.14-7-7-7zm2.85 11.1l-.85.6V16h-4v-2.3l-.85-.6A4.997 4.997 0 0 1 7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 1.63-.8 3.16-2.15 4.1z"></path></svg>
                    <div style="margin: 0% 20%;">Notes</div>
                </a>
                <a mat-list-item [routerLink]="'/create-account'"> Reminders </a>
                <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
                <a mat-list-item [routerLink]="'/create-contact'"> Edit Labels </a>
                <a mat-list-item [routerLink]="'/activities'"> Archive </a>
                <a mat-list-item [routerLink]="'/activities'"> Bin </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>