.input-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.input-box {
    height: auto;
    margin-bottom: 3%;
    border: 0px!important;
    outline: none!important;
    width: 100%;
}

.close-btn {
    margin-left: 50%;
}