<div [style.background]="fromPage.changeColor">
    <div>
        <div>
            <div (input)="title=$event.target.textContent" role="textbox" name="search" autocomplete="off" class="input-title input-box" contentEditable=true>{{fromPage.title}}</div>
            <div (input)="description=$event.target.textContent" contenteditable="true" aria-multiline="true" class="input-box" role="textbox" tabindex="0" spellcheck="false">{{fromPage.description}}</div>
            <div style="margin-left: 70%;">Edited {{fromPage.modifiedDate}}</div>
        </div>
    </div>
    <div style="display: flex;">
        <app-icon></app-icon>
        <button class="close-btn" mat-button mat-dialog-close (click)=apiCallUpdateNote()>Close</button>
    </div>
</div>