.container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.box1,
.box2 {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

h1 {
    margin-left: 10%;
    color: cornflowerblue;
}

.btns {
    display: flex;
    flex-direction: row;
}

.login {
    margin-left: 29%;
}

.forgotPassword {
    margin-left: 10%;
}