<div class="container">
    <mat-card>
        <h1>Sign In</h1>
        <form [formGroup]="user" (ngSubmit)="validation()">
            <mat-form-field appearance="outline" class="box1">
                <mat-label>Email</mat-label>
                <input formControlName="userName" matInput placeholder="Email" required type="email">
                <mat-error *ngIf="user.get('userName').hasError('required')">Email required</mat-error>
                <mat-error *ngIf="user.get('userName').hasError('pattern')">Invalid email</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="box2">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput placeholder="Password" required type="password">
                <mat-error *ngIf="user.get('password').hasError('required')">Password required</mat-error>
                <mat-error *ngIf="user.get('password').hasError('pattern')">Invalid Password</mat-error>
            </mat-form-field>
            <div class="btns">
                <a class="forgotPassword" mat-button routerLink='/forgotPassword' color='primary'> Forgot Password</a>
                <div class="login"><button type="submit" mat-raised-button [disabled]="!user.valid" color="primary">Login</button></div>
            </div>
        </form>
        <div *ngIf="loading">
            <mat-spinner style="margin:5% 45% ;"></mat-spinner>
        </div>
    </mat-card>
</div>