.container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.box1,
.box2 {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

h1 {
    margin-left: 25%;
    color: cornflowerblue;
}

.login {
    margin-left: 7%;
}

.forgotPassword {
    margin-left: 25%;
}