.container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

h3 {
    margin-left: 10%;
    color: cornflowerblue;
}

.btns {
    display: flex;
    flex-direction: row;
}

.register {
    margin-left: 50%;
}