.container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

mat-card {
    width: 60%;
}

.box1 {
    width: 80%;
    margin: 0% 10%;
}

h3 {
    margin-left: 10%;
    color: cornflowerblue;
}

button {
    width: 40%;
}

.register {
    margin-left: 40%;
}