<div class="container">
    <mat-card>
        <h1>Reset your Password</h1>
        <form [formGroup]="user" (ngSubmit)="validation()">
            <div>
                <mat-form-field appearance="outline" class="box3">
                    <mat-label>Email</mat-label>
                    <input formControlName="userName" matInput placeholder="Username" required type="email">
                    <mat-error *ngIf="user.get('userName').hasError('required')">Email required</mat-error>
                    <mat-error *ngIf="user.get('userName').hasError('email')">Invalid email</mat-error>
                </mat-form-field>
            </div>
            <div class="container2">
                <div class="box4">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input formControlName="password" matInput placeholder="Password" required type="password">
                        <mat-error *ngIf="user.get('password').hasError('required')">Password required</mat-error>
                    </mat-form-field>
                </div>
                <div class="box5">
                    <mat-form-field appearance="outline">
                        <mat-label>Confirm</mat-label>
                        <input formControlName="confirm" matInput placeholder="Confirm" required type="password">
                        <mat-error *ngIf="user.get('confirm').hasError('required')">Password not match</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="btns">
                <div class="register"><button type="submit" mat-raised-button [disabled]="!user.valid" color="primary">Register</button></div>
            </div>
        </form>
    </mat-card>
</div>