<div class="container">
    <mat-card>
        <h3>Reset your Password</h3>
        <form [formGroup]="user" (ngSubmit)="validation()">
            <div class="box">
                <mat-form-field appearance="outline" class="box1">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput placeholder="Password" required type="password">
                    <mat-error *ngIf="user.get('password').hasError('required')">Password required</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="box1">
                    <mat-label>Confirm</mat-label>
                    <input formControlName="confirm" matInput placeholder="Confirm" required type="password">
                    <mat-error *ngIf="user.get('confirm').hasError('required')">Password not match</mat-error>
                </mat-form-field>
            </div>
            <div class="btns">
                <div class="register"><button type="submit" mat-raised-button [disabled]="!user.valid" color="primary">Reset</button></div>
            </div>
        </form>
        <div *ngIf="loading">
            <mat-spinner style="margin:5% 45% ;"></mat-spinner>
        </div>
    </mat-card>
</div>