.pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn-icon {
    border-radius: 50%;
}

.text-input {
    outline: none;
    border: none;
    width: 240%;
}

.icon {
    font-size: 30px;
}

.profile-container {
    display: flex;
    box-shadow: unset;
}

.inlineEmail {
    display: inline-flex;
    flex-direction: column;
    margin-left: 3%;
}

.cancel-btn {
    margin-left: 74%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.save-btn {
    margin: 0% 2%;
}

.btns-container {
    background: #c5c5c4;
}

.name {
    font-weight: 500;
}

.email {}