.searchbox {
    border: 0px;
    outline: none;
    word-wrap: break-word;
    white-space: initial;
}

.icon {
    font-size: 15px;
}

.btn {
    width: 13px!important;
    min-width: unset!important;
}