<div style="display: flex; flex-wrap: wrap; margin: 2% auto; align-items: flex-start; width: 70%;">
    <mat-card *ngFor="let contents of result;" style="margin-right: 2%; width: 30%; margin-bottom: 2%;">
        <div>
            <div style=" font-size: 1.5rem; font-weight: 600;">{{contents.title}}</div>
            <div style="height: auto; margin-bottom: 3%; word-break: break-word;  ">{{contents.description}}</div>
        </div>
        <div fxLayout="row" class="flex-container" fxLayout.sm="column">
            <app-icon></app-icon>
            <button class="btn" mat-button type="button" [matMenuTriggerFor]="menu">    <span class="material-icons icon">
                more_vert
                </span></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Add Label</button>
                <button mat-menu-item>Delete Note</button>
            </mat-menu>
        </div>
    </mat-card>
</div>