.searchbox {
    border: 0px;
    outline: none;
    word-wrap: break-word;
    white-space: initial;
}

.display-card {
    margin-right: 2%;
    width: 30%;
    margin-bottom: 2%;
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgb(127, 127, 128);
}