.searchbox {
    border: 0px;
    outline: none;
    word-wrap: break-word;
    white-space: initial;
}

.display-card {
    margin-right: 3%;
    width: 30%;
    margin-bottom: 2%;
    border-radius: 6px;
    box-shadow: 1px 1px 4px rgb(127, 127, 128);
}