<div style="display: flex; flex-wrap: wrap; margin: 2% auto; align-items: flex-start; width: 60%;">
    <mat-card *ngFor="let contents of result;" [style.background]=contents.changeColor class="display-card">
        <div (click)="openEditDialogue(contents)">
            <div class="title-box">{{contents.title}}</div>
            <div class="description-box">{{contents.description}}</div>
            <mat-chip-list style="width: auto;" aria-label="Fish selection">
                <mat-chip style="font-size: 10px;" *ngIf=contents.remainder;><span style="font-size: 16px;" class="material-icons">query_builder</span>&nbsp; {{contents.remainder}} </mat-chip>
            </mat-chip-list>
        </div>
        <app-icon class="icons" [onDisplay]="true" (notify)="iconEvent($event,contents.id)"></app-icon>
    </mat-card>
</div>