<div class="icon-container">
    <button class="btn" type="button" matTooltip="Remind me" [matMenuTriggerFor]="rem" mat-button><span class="material-icons icon">
        notifications_none
        </span></button>
    <button class="btn" type="button" matTooltip="Add Collaborator" (click)="collaborator()" mat-button>    <span class="material-icons icon">
        person_add
        </span></button>
    <button class="btn" type="button" matTooltip="Add Color" [matMenuTriggerFor]="clr" mat-button>    <span class="material-icons icon">
            color_lens
            </span></button>
    <button class="btn" type="button" matTooltip="Add Image" [matMenuTriggerFor]="img" (click)="addImage()" mat-button>    <span class="material-icons icon">
                photo_size_select_actual
                </span></button>
    <button class="btn" type="button" matTooltip="Archive" (click)="archive()" mat-button>    <span class="material-icons icon">
                    archive
                    </span></button>
    <button class="btn" mat-button type="button" [matMenuTriggerFor]="menu">    <span class="material-icons icon">
                        more_vert
                        </span></button>
    <button type="button" *ngIf="onCreateNote && !onDisplay" class="btn" style="margin-left: 50%;" (click)="createNote()" mat-button>Close</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="addlabel">Add Label</button>
        <button *ngIf="!onCreateNote && onDisplay" (click)="delete()" mat-menu-item>Delete Note</button>
    </mat-menu>
    <mat-menu #addlabel="matMenu">
        <div *ngFor="let label of labels;">
            <mat-checkbox (change)="addLabel(label)">{{label.labelName}}</mat-checkbox>
        </div>
    </mat-menu>
    <mat-menu #rem="matMenu">
        <button mat-menu-item (click)="reminder('Later Today')">Later Today </button>
        <button mat-menu-item (click)="reminder('Tomorrow')">Tomorrow</button>
        <button mat-menu-item (click)="reminder('Next Week')">Next Week</button>
        <button mat-menu-item>
        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input name="selectedDate" [(ngModel)]="selectedDate" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </button>
        <!-- <button mat-menu-item> -->
        <div style="padding-left:6% ;">
            <ngb-timepicker (click)="Propogation($event)" [(ngModel)]="currentTime"></ngb-timepicker><button mat-button (click)="reminder(' ')">Save</button>
        </div>
        <!-- </button> -->
    </mat-menu>
    <mat-menu #clr="matMenu">
        <div class="color-row" *ngFor="let colors of colorArray">
            <mat-card *ngFor="let colour of colors;" [style.background]=colour.color (click)="addColor(colour)" class="mat-color"> </mat-card>
        </div>
    </mat-menu>
    <mat-menu #img="matMenu">
        <button mat-menu-item>Add Image</button>
    </mat-menu>
</div>