<div style="width: 30%;">
    <button type="button" (click)="reminder()" mat-button><span class="material-icons icon">
        notifications_none
        </span></button>
    <button type="button" (click)="collaborator()" mat-button>    <span class="material-icons icon">
        person_add
        </span></button>
    <button type="button" (click)="addColor()" mat-button>    <span class="material-icons icon">
            color_lens
            </span></button>
    <button type="button" (click)="addImage()" mat-button>    <span class="material-icons icon">
                photo_size_select_actual
                </span></button>
    <button type="button" (click)="archive()" mat-button>    <span class="material-icons icon">
                    archive
                    </span></button>
    <!-- <button type="button" [matMenuTriggerFor]="menu" (click)="more()" mat-button>    <span class="material-icons icon">
                        more_vert
                        </span></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Add Label</button>
        <button mat-menu-item>Add Drawing</button>
    </mat-menu> -->

</div>