  .icon {
      font-size: 15px;
  }
  
  .btn {
      border: 0px!important;
      outline: none!important;
      min-width: 10px!important;
      text-align: center;
  }
  
  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
      box-sizing: border-box;
      position: relative;
      user-select: none;
      cursor: pointer;
      outline: none;
      border: none;
      -webkit-tap-highlight-color: transparent;
      display: inline-block;
      text-decoration: none;
      vertical-align: baseline;
      text-align: center;
      margin: 0;
      min-width: 64px;
      padding: 0 8px;
      border-radius: 18px;
      overflow: visible;
  }