<div>
    <span class="material-icons icon">
    notifications_none
    </span>
    <span class="material-icons icon">
        person_add
        </span>
    <span class="material-icons icon">
            color_lens
            </span>
    <span class="material-icons icon">
                photo_size_select_actual
                </span>
    <span class="material-icons icon">
                    archive
                    </span>
    <span class="material-icons icon">
                        more_vert
                        </span>
</div>