<div class="title-container">
    <h2>Select profile photo</h2>
    <button class="icon" mat-button mat-dialog-close><span class="material-icons">clear</span></button>
</div>
<!-- <button ><input type="file">Select a photo from your computer</button> -->
<!-- <label for="upload-photo">Select a photo from your computer</label>
<input class="photo-selection-btn" type="file" name="photo" id="upload-photo" /> -->
<ngx-spinner></ngx-spinner>
<div>
    <button class="photo-selection-btn"><label for="files" class="btn">Select a photo from your computer</label></button>
    <input (change)="onFileSelected($event)" id="files" style="visibility:hidden;" type="file">
</div>

<button (click)="uploadImage()" mat-raised-button color="primary" [disabled]="selectedFile==null" class="set-dp">Set as profile photo</button>
<button mat-raised-button mat-dialog-close [disabled]="selectedFile==null">Cancel</button>