.container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

h3 {
    margin-left: 10%;
    color: cornflowerblue;
}

.box1 {
    margin: 0% 10%;
    width: 80%;
}

mat-card {
    width: 60%;
    height: 70%;
}

.btns {
    margin: 0% 40%;
}