<div class="container">
    <mat-card>
        <form [formGroup]="user" (ngSubmit)="validation()">
            <h3>Enter The Registered Email</h3>
            <mat-form-field appearance="outline" class="box1">
                <mat-label>Email</mat-label>
                <input matInput formControlName="userName" placeholder="Email" required type="email">
                <mat-error *ngIf="user.get('userName').hasError('required')">Email required</mat-error>
                <mat-error *ngIf="user.get('userName').hasError('pattern')">Invalid email</mat-error>
            </mat-form-field>
            <div>
                <button class="btns" type="submit" [disabled]="!user.valid" mat-button color='primary'>Continue</button>
            </div>
        </form>
        <div *ngIf="loading">
            <mat-spinner style="margin:5% 45% ;"></mat-spinner>
        </div>
    </mat-card>
</div>