<div *ngIf="!clicked; else elseBlock" style="margin: 2% auto; width: '42%';">
    <mat-card class="display-card">
        <input class="searchbox" type="text" name="search" style="width: '100%';" autocomplete="off" placeholder="Take a note" (click)='openNote()'>
    </mat-card>
</div>
<ng-template #elseBlock>
    <div style="margin: 2% auto; width: '45%';">
        <mat-card fxLayout="column" class="flex-container" class="display-card" [style.background]="backgroundColor">
            <div>
                <div class="searchbox title-box" (input)="notes.title=$event.target.textContent" role="textbox" name="search" autocomplete="off" contentEditable=true data-text="Title" (click)='openNote()'></div>
                <div class="searchbox description-box" (input)="notes.description=$event.target.textContent" contenteditable="true" data-text="Take a note" aria-multiline="true" role="textbox" tabindex="0" spellcheck="false"></div>
                <mat-chip-list style="width: auto;" aria-label="Fish selection">
                    <mat-chip style="font-size: 10px;" *ngIf=notes.remainder;><span style="font-size: 16px;" class="material-icons">query_builder</span>&nbsp; {{notes.remainder}} </mat-chip>
                </mat-chip-list>
            </div>
            <div style="width: auto; display: flex; flex-direction: row; margin-top: 1%; justify-content: flex-start;">
                <mat-chip-list *ngFor="let label of labels;">
                    <mat-chip style="font-size: 10px;" *ngIf="label.id==-1">{{label.labelName}} </mat-chip>
                </mat-chip-list>
            </div>
            <app-icon [labels]="labels" [onCreateNote]="true" (notify)="iconEvent($event)"></app-icon>
        </mat-card>
    </div>
</ng-template>