.searchbox {
    border: 0px;
    outline: none;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text)
}

.icon {
    font-size: 15px;
}

.btn {
    width: 13px!important;
    min-width: unset!important;
}