.searchbox {
    border: 0px;
    outline: none;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text)
}

.display-card {
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgb(127, 127, 128);
}

.title-box {
    width: '100%';
    font-size: 1.5rem!important;
    font-weight: 500;
}

.description-box {
    margin: 2% 0% 2%;
}