<div *ngIf="!clicked; else elseBlock" style="margin: 2% auto; width: '50%';">
    <mat-card>
        <input class="searchbox" type="text" name="search" style="width: '100%';" autocomplete="off" placeholder="Take a note" (click)='openNote()'>
    </mat-card>
</div>
<ng-template #elseBlock>
    <div style="margin: 2% auto; width: '50%';">
        <mat-card>
            <form [formGroup]="notes" (ngSubmit)="apiCallCreateNote()">
                <div class="searchbox" formControlName="title" role="textbox" name="search" style="width: '100%'; font-size: 1rem;" autocomplete="off" style="font-weight: 500;" contentEditable=true data-text="Title" (click)='openNote()'></div>
                <div class="searchbox" formControlName="description" contenteditable="true" style="margin: 2% 0%;" data-text="Take a note" aria-multiline="true" role="textbox" tabindex="0" spellcheck="false"></div>
                <button style="margin-left: 90%;" type="submit" mat-button>Close</button>
            </form>
        </mat-card>
    </div>
</ng-template>