<div class="container">
    <mat-card>
        <h1>Create Your Account</h1>
        <div class="container1">
            <div class="box1">
                <mat-form-field appearance="outline" alli>
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name" type="text">
                </mat-form-field>
            </div>
            <div class="box2">
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Last Name" type="text">
                </mat-form-field>
            </div>
        </div>
        <div>
            <mat-form-field appearance="outline" class="box3">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" type="text">
                <mat-icon matSuffix>@gmail.com</mat-icon>
            </mat-form-field>
        </div>
        <div class="container2">
            <div class="box4">
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" type="password">
                </mat-form-field>
            </div>
            <div class="box5">
                <mat-form-field appearance="outline">
                    <mat-label>Confirm</mat-label>
                    <input matInput placeholder="Confirm" type="password">
                </mat-form-field>
            </div>
        </div>
        <div class="btns">
            <div class="login"><a mat-stroked-button routerLink="/login">Login</a></div>
            <div class="register"><button mat-raised-button color="primary">Register</button></div>
        </div>
    </mat-card>
</div>