<div class="center">
  <mat-card> Create Account
    <p>
      <mat-form-field appearance="outline" alli>
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" type="text">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" type="text">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" type="text">
        <mat-icon matSuffix>@gmail.com</mat-icon>
      </mat-form-field>
    </p>
    <div class="inline">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" type="password">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Confirm</mat-label>
          <input matInput placeholder="Confirm" type="password">
        </mat-form-field>
      </p>
      
    </div>
    <div class="btns">
      <a mat-stroked-button routerLink="/login">Login</a>
      <button mat-raised-button color="primary">Register</button>
    </div>
  </mat-card>
</div>